<div th:fragment="content" class="form-container" xmlns:th="http://www.thymeleaf.org">
    <form th:action="@{/tatli/save}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Tatlı Adı:</label>
            <input type="text" id="name" name="name" class="form-control">
        </div>
        <div class="mb-3">
            <label for="menuId" class="form-label">Menü ID:</label>
            <input type="number" id="menuId" name="menuId" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
        <a th:href="@{/tatli/list}" class="btn btn-secondary">Geri Dön</a>
    </form>
</div>
