<div th:fragment="content" class="form-container" xmlns:th="http://www.thymeleaf.org">
    <form th:action="@{/superadmin/update/{id}(id=${superadmin.id})}" method="post">
        <div class="mb-3">
            <label for="id" class="form-label">ID:</label>
            <input type="text" id="id" name="id" th:value="${superadmin.id}" class="form-control" readonly>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Kullanıcı Adı:</label>
            <input type="text" id="username" name="username" th:value="${superadmin.username}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Şifre:</label>
            <input type="password" id="password" name="password" th:value="${superadmin.password}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Güncelle</button>
        <a th:href="@{/superadmin/list}" class="btn btn-secondary">Geri Dön</a>
    </form>
</div>
