<div th:fragment="content" class="form-container" xmlns:th="http://www.thymeleaf.org">
    <form th:object="${restaurantForm}"
          th:action="@{/restaurant/update/{id}(id=*{id})}"
          method="post">

        <div class="mb-3">
            <label for="id" class="form-label">ID:</label>
            <input type="text" id="id" th:field="*{id}" class="form-control" readonly>
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Restaurant Adı:</label>
            <input type="text" id="name" th:field="*{name}" class="form-control">
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Adres:</label>
            <input type="text" id="address" th:field="*{address}" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Güncelle</button>
        <a th:href="@{/restaurant/list}" class="btn btn-secondary">Geri Dön</a>
    </form>
</div>
