<div th:fragment="sidebar" class="sidebar bg-dark text-white p-3" xmlns:th="http://www.thymeleaf.org">
    <img src="/img/logo-min.png" style="width: 55px;float: left;margin: 13px;" />
    <a href="/"><h3 style="float:left;line-height: 58px; color:#fff;">Restoran Yönetim Paneli</h3></a>

    <nav>
        <button id="menuToggle"  style="float:right; margin-top:10px;">Menüyü Kapat</button>
        <div style="clear: both;"></div>
        <ul id="navList">
            <li th:classappend="${page == 'home' ? 'active' : ''}"><a th:href="@{/}">Ana Sayfa</a></li>
            <li th:classappend="${page == 'garson' ? 'active' : ''}"><a th:href="@{/garson/list}">Garsonlar</a></li>
            <li th:classappend="${page == 'vardiya' ? 'active' : ''}"><a th:href="@{/vardiya/list}">Vardiyalar</a></li>
            <li th:classappend="${page == 'calisan' ? 'active' : ''}"><a th:href="@{/calisan/list}">Çalışanlar</a></li>
            <li th:classappend="${page == 'iletisim' ? 'active' : ''}"><a th:href="@{/iletisim/list}">İletişim</a></li>
            <li th:classappend="${page == 'indirim' ? 'active' : ''}"><a th:href="@{/indirim/list}">İndirimler</a></li>
            <li th:classappend="${page == 'masa' ? 'active' : ''}"><a th:href="@{/masa/list}">Masalar</a></li>
            <li th:classappend="${page == 'menu' ? 'active' : ''}"><a th:href="@{/menu/list}">Menü</a></li>
            <li th:classappend="${page == 'odeme' ? 'active' : ''}"><a th:href="@{/odeme/list}">Ödemeler</a></li>
            <li th:classappend="${page == 'restaurant' ? 'active' : ''}"><a th:href="@{/restaurant/list}">Restoran</a></li>
            <li th:classappend="${page == 'rezervasyon' ? 'active' : ''}"><a th:href="@{/rezervasyon/list}">Rezervasyonlar</a></li>
            <li th:classappend="${page == 'siparis' ? 'active' : ''}"><a th:href="@{/siparis/list}">Siparişler</a></li>
            <li th:classappend="${page == 'stok' ? 'active' : ''}"><a th:href="@{/stok/list}">Stok</a></li>
            <li th:classappend="${page == 'teslimat' ? 'active' : ''}"><a th:href="@{/teslimat/list}">Teslimatlar</a></li>
            <li th:classappend="${page == 'geribildirim' ? 'active' : ''}"><a th:href="@{/geribildirim/list}">Geri Bildirimler</a></li>
            <li th:classappend="${page == 'users' ? 'active' : ''}"><a th:href="@{/users/list}">Kullanıcılar</a></li>
            <li th:classappend="${page == 'icecek' ? 'active' : ''}"><a th:href="@{/icecek/list}">İçecekler</a></li>
            <li th:classappend="${page == 'tatli' ? 'active' : ''}"><a th:href="@{/tatli/list}">Tatlılar</a></li>
            <li th:classappend="${page == 'yemek' ? 'active' : ''}"><a th:href="@{/yemek/list}">Yemekler</a></li>
            <li th:classappend="${page == 'tedarikci' ? 'active' : ''}"><a th:href="@{/tedarikci/list}">Tedarikçiler</a></li>
            <li th:classappend="${page == 'admin1' ? 'active' : ''}"><a th:href="@{/admin/list}">Admin</a></li>
            <li th:classappend="${page == 'superadmin' ? 'active' : ''}"><a th:href="@{/superadmin/list}">Süper Admin</a></li>


            <!--
            <li><a href="/" >Ana Sayfa</a></li>

            <li><a th:href="@{/garson/list}" >Garsonlar</a></li>
            <li><a th:href="@{/vardiya/list}" >Vardiyalar</a></li>
            <li><a th:href="@{/calisan/list}">Çalışanlar</a></li>


            <li><a th:href="@{/iletisim/list}" >İletişim</a></li>
            <li><a th:href="@{/indirim/list}" >İndirimler</a></li>
            <li><a th:href="@{/masa/list}" >Masalar</a></li>
            <li><a th:href="@{/menu/list}">Menü</a></li>
            <li><a th:href="@{/odeme/list}" >Ödemeler</a></li>

            <li><a th:href="@{/restaurant/list}" >Restoran</a></li>
            <li><a th:href="@{/rezervasyon/list}" >Rezervasyonlar</a></li>
            <li><a th:href="@{/siparis/list}" >Siparişler</a></li>
            <li><a th:href="@{/stok/list}">Stok</a></li>


            <li><a th:href="@{/teslimat/list}" >Teslimatlar</a></li>

            <li><a th:href="@{/geribildirim/list}">Geri Bildirimler</a></li>
            <li><a th:href="@{/users/list}">Kullanıcılar</a></li>


            <li><a th:href="@{/icecek/list}" >İçecekler</a></li>
            <li><a th:href="@{/tatli/list}">Tatlılar</a></li>
            <li><a th:href="@{/yemek/list}" >Yemekler</a></li>

            <li><a th:href="@{/tedarikci/list}" >Tedarikçiler</a></li>
            <li><a th:href="@{/admin1/list}" >Admin</a></li>
            <li><a th:href="@{/superadmin/list}" >Süper Admin</a></li>-->
        </ul>
    </nav>
    <div style="clear: both;"></div>
</div>
