<div th:fragment="content" class="form-container" xmlns:th="http://www.thymeleaf.org">
    <form th:action="@{/icecek/update/{id}(id=${icecek.id})}" method="post">
        <div class="mb-3">
            <label for="id" class="form-label">ID:</label>
            <input type="text" id="id" name="id" th:value="${icecek.id}" class="form-control" readonly>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">İçecek Adı:</label>
            <input type="text" id="name" name="name" th:value="${icecek.name}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="menuId" class="form-label">Menü ID:</label>
            <input type="number" id="menuId" name="menuId" th:value="${icecek.menuId}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Güncelle</button>
        <a th:href="@{/icecek/list}" class="btn btn-secondary">Geri Dön</a>
    </form>
</div>
